{% extends 'invoices/base.html' %}

{% block content %}

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row mb-4">

    <div class="col-md-4">

        <div class="card p-4 bg-primary text-white">

            <h3>
                ₹ {{ total_revenue }}
            </h3>

            <p>
                Total Revenue
            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4 bg-success text-white">

            <h3>
                {{ invoices.count }}
            </h3>

            <p>
                Total Invoices
            </p>

        </div>

    </div>

</div>

<form method="GET" class="row g-3 mb-4">

    <!-- Search -->
    <div class="col-md-4">

        <input type="text"
               name="q"
               class="form-control"
               placeholder="Search Invoice Number"
               value="{{ request.GET.q }}">

    </div>

    <!-- Month Filter -->
    <div class="col-md-3">

        <input type="month"
               name="month"
               class="form-control"
               value="{{ request.GET.month }}">

    </div>

    <!-- Buttons -->
    <div class="col-md-3 d-flex gap-2">

        <button type="submit"
                class="btn btn-primary">

            Filter

        </button>

        <a href="{% url 'dashboard' %}"
           class="btn btn-secondary">

            Reset

        </a>

    </div>

</form>



<div class="card p-4">

    <h4 class="mb-3">
        Recent Invoices
    </h4>

    <form method="GET"
      class="mb-4">

        <input type="text"
           name="q"
           class="form-control"
           placeholder="Search Invoice">

    </form>

    <div class="table-responsive">
    <table class="table table-bordered">

        <thead>

            <tr>
                <th>Invoice</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            {% for invoice in invoices %}

            <tr>

                <td>
                    {{ invoice.invoice_number }}
                    {% if invoice.is_cancelled %}

                    <span class="badge bg-danger">
                        Cancelled
                    </span>

                    {% endif %}
                </td>

                <td>
                    {{ invoice.customer.company_name }}
                </td>

                <td>
                    {{ invoice.invoice_date }}
                </td>

                <td>
                    ₹ {{ invoice.grand_total }}
                </td>

                <td>

                    <a href="/invoice/{{ invoice.id }}/"
                       class="btn btn-sm btn-primary">

                        View

                    </a>

                    <a href="#"
                    class="btn btn-danger btn-sm"
                    onclick="openActionModal(
                        '{% url "delete_invoice" invoice.id %}',
                        'Delete Invoice',
                        'This action permanently deletes the invoice and may affect invoice numbering.'
                    )">

                        Delete

                    </a>

                    <a href="#"
                    class="btn btn-warning btn-sm"
                    onclick="openActionModal(
                        '{% url "cancel_invoice" invoice.id %}',
                        'Cancel Invoice',
                        'Cancelled invoices remain in records but are excluded from revenue calculations.'
                    )">

                        Cancel

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>
    </div>

</div>

{% endblock %}